%icon-card {
  width: 95px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  display: inline-block;
}

.icon-square {
  position: relative;
  width: 200px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #2a22a0;
  box-shadow: 0px 2px 15px 2px ($hover-color);
  border-radius: $border-radius;
  padding-bottom: 2rem;
  @extend %transition;
  @include media-mobile {
    width: 150px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background: rgba($title-color, 0.6);
    @extend %transition;
    opacity: 0;
  }
  &:hover {
    transform: translateY(-10px);
    &:before {
      opacity: 1;
    }
    .icon-title {
      @extend %transition;
      color: $light-color;
    }
  }
}

.icon-html {
  background-image: url("../icons/skills/html5.svg");
  @extend %icon-card;
}
.icon-css {
  background-image: url("../icons/skills/css.svg");
  @extend %icon-card;
}
.icon-js {
  background-image: url("../icons/skills/javascript.svg");
  @extend %icon-card;
}

.icon-sass {
  background-image: url("../icons/skills/sass.svg");
  @extend %icon-card;
}

.icon-bootstrap {
  background-image: url("../icons/skills/bootstrap.svg");
  @extend %icon-card;
}

.icon-photoshop {
  background-image: url("../icons/skills/photoshop.svg");
  @extend %icon-card;
}

.icon-figma {
  background-image: url("../icons/skills/figma.svg");
  @extend %icon-card;
}
.icon-gulp {
  background-image: url("../icons/skills/gulp.svg");
  @extend %icon-card;
}
.icon-webpack {
  background-image: url("../icons/skills/webpack.svg");
  @extend %icon-card;
}

.icon-git {
  background-image: url("../icons/skills/git.svg");
  @extend %icon-card;
}

.icon-responsive {
  background-image: url("../icons/skills/responsive-website.svg");
  @extend %icon-card;
}

.icon-accessibility {
  background-image: url("../icons/skills/accessibility-shortcut.svg");
  @extend %icon-card;
}

.icon-github {
  background: url("../icons/skills/github.svg");
}

.icon-discord {
  background: url("../icons/skills/discord.svg");
}

.icon-linkedin {
  background: url("../icons/skills/linkedin.svg");
}

.icon-gmail {
  background: url("../icons/skills/gmail.svg");
}

.icon-site {
  width: 30px;
  height: 30px;
  background: url("../icons/portfolio/website.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.scroll-up {
  display: block;
  width: 40px;
  height: 40px;
  background: $theme-color;
  border-radius: $border-radius;
}

.icon-arrow {
  position: fixed;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5%;
  bottom: 5%;
  background: url("../icons/arrow.svg");
  @extend %cursor-pointer;
  &:hover {
    filter: invert(44%) sepia(57%) saturate(3026%) hue-rotate(200deg)
      brightness(98%) contrast(97%);
  }
  @include media-mobile {
    width: 25px;
    height: 25px;
  }
}
