.languages {
  @extend %flex;
  @extend %cursor-pointer;
  padding-inline: 6rem;
}
.language {
  padding-left: 1rem;
  @extend %transition;
  &:hover {
    color: $main-color;
  }
  &--active {
    color: $main-color;
  }
}
