.languages {
  @extend %flex;
  @extend %cursor-pointer;
  padding-inline: 2rem;
  @include media-small-desktop {
    margin-left: auto;
  }
  @include media-mobile {
    margin-left: 0;
  }
}
.language {
  padding-left: 1rem;
  @extend %transition;
  &:hover {
    color: $main-color;
  }
  &--active {
    color: $main-color;
  }
}
