.nav {
  margin-left: auto;
  @include media-small-desktop {
    display: none;
  }
  &.open {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #337aa5f8;
    z-index: 2;
  }
}

.list {
  @extend %flex;
  @extend %al-items-center;
  font-size: 1.8rem;
  &.open {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 10rem;
    font-size: 3rem;
  }
}

.list__item {
  padding-left: 3rem;
  @include media-small-desktop {
    padding-left: 1.5rem;
  }
}

.list__link {
  @extend %cursor-pointer;
  @extend %transition;
  position: relative;
  &:hover {
    color: $main-color;
    &::after {
      @extend %transition;
      opacity: 1;
    }
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -10px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $main-color;
    opacity: 0;
  }

  &--active {
    color: $main-color;
    @extend %transition;
    &::after {
      display: block;
      position: absolute;
      content: "";
      bottom: -10px;
      width: 100%;
      height: 3px;
      background-color: $main-color;
      opacity: 1;
    }
  }
}
