.section {
  padding: 9rem 0 0;

  @include media-mobile {
    padding: 4rem 0 0;
  }
}

.section-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: $accent-color;
  text-align: center;
  @extend %text-uppercase;

  @include media-mobile {
    font-size: 2rem;
  }
}

.section-line {
  display: block;
  width: 15rem;
  height: 2px;
  background-color: $accent-color;
  margin: 5px auto;
}