body {
  min-height: 100vh;
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-space-between;
  background: $bg-color;
  color: $light-color;
  font-family: $ff-main;
  font-size: 1.6rem;
  line-height: 1.5;
}
