/* Colors */

$main-color: #fb6571;
$theme-color: #0a0a24;
$title-color: #66ffdb;
$text-color: #86bcee;
$scroll-color: #1e2761;
$accent-color: #ffe100;
$bg-color: #320d3e;
$hover-color: #8892af;
$light-color: #ffffff;
$black-color: #000000;
$imput-color: #25273c;
$border-color: #ffffff33;

/* Size */

$border-radius: 0.5rem;

/* font */

$ff-main: "Roboto Mono", monospace;
$ff-second: "Qwitcher Grypen", cursive;
