#nameError {
  display: none;
  font-size: 0.8em;
  color: $text-color;
}

#nameError.visible {
  display: block;
}

.contacts__container {
  padding: 2rem 0;

  @include media-small-desktop {
    flex-direction: column;
    gap: 3rem;
  }
}

.contacts-map {
  @include media-tablet {}
}

.contacts__form {
  display: block;
  padding: 2rem;
  border: 2px solid $border-color;
  border-radius: $border-radius;

  label {
    line-height: 3em;
  }
}

.input-field {
  width: 100%;
  margin: 0.5rem 0 2rem;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  background: $imput-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  color: $light-color;

  &::placeholder {
    color: $text-color;
  }

  &:hover {
    border-color: $hover-color;
  }

  &:focus {
    border-color: $main-color;
    outline: none;
  }
}

.input-message {
  width: 100%;
  min-height: 16rem;
  resize: none;
}

.contacts__button {
  padding-top: 2rem;
}