.footer__container {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  @extend %js-content-center;
  padding-bottom: 2rem;
}

.footer__copyright {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
}

.copy {
  color: $text-color;
  @include media-mobile-small {
    font-size: 1.4rem;
  }
}

.copy-symball {
  color: red;
}

.auther {
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
}
