.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.7));
  background: $theme-color;
}

.header__container {
  @extend %flex;
  @extend %al-items-center;
  padding: 1rem 0;

  @include media-mobile {
    justify-content: space-between;
  }
}
