.overlay {
  position: absolute;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.project {
  @extend %flex;
  @extend %flex-column;
  align-items: center;
  &__hidden {
    display: none;
  }
}

.portfolio-overlay {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  @extend %js-content-center;
}

.projects__tags {
  padding: 5rem 0;
  justify-content: center;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 386px);
  justify-content: space-between;
  gap: 2rem;
  object-fit: cover;
}

.project__content {
  @extend %flex;
  @extend %flex-column;
  padding: 1.2rem 3.1rem;
}

.project-card {
  position: relative;
  background: hsl(200, 55%, 10%);
  border: 2px solid hwb(210 37% 59%);
  border-radius: $border-radius;
  filter: drop-shadow(0px 4px 4px hsl(189, 79%, 24%));
  @extend %transition;
  @extend %cursor-pointer;
  &:hover {
    border-color: $main-color;
    .overlay {
      opacity: 1;
      @extend %transition;
    }
  }
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: $border-radius;
}

.project-title {
  color: $text-color;
  padding: 1rem 0 0;
}

.project-details {
  color: $title-color;
  padding: 1.5rem 0;
}
.project__tags {
  .tag {
    font-size: 1rem;
  }
}

.portfolio-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  > * {
    margin-left: 0.5rem;
  }
}

.portfolio-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: $theme-color;
  opacity: 0.5;
  @extend %transition;
  &:hover {
    background: $black-color;
    opacity: 1;
    .portfolio-icon {
      filter: invert(44%) sepia(57%) saturate(3026%) hue-rotate(200deg)
        brightness(98%) contrast(97%);
    }
  }
}

.icon-githubs {
  width: 30px;
  height: 30px;
  background: url("/src/icons/portfolio/github.svg");
}

.portfolio-title {
  padding-top: 2rem;
  color: $accent-color;
  text-align: center;
}
