.skills-wrapper {
  width: 75%;
  @extend %flex;
  @extend %flex-wrap;
  @extend %js-content-center;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem 0;

  @include media-small-desktop {
    width: 100%;
    justify-content: space-evenly;
    gap: 2rem;
  }

  @include media-mobile {
    gap: 1rem;
    justify-content: space-between;
  }

  @include media-mobile-small {
    justify-content: center;
  }
}

.icon-title {
  color: $text-color;
  @extend %text-uppercase;
}

.skill {
  @include media-mobile {

    &:last-child,
    &:nth-child(11),
    &:nth-child(10),
    &:nth-child(9),
    &:nth-child(8),
    &:nth-child(7),
    &:nth-child(6),
    &:nth-child(5) {
      display: none;
    }
  }
}