.skills-wrapper {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 0;
  margin: 0 auto;
  justify-content: center;
  @include media-small-desktop {
    width: 100%;
    justify-content: space-evenly;
    gap: 2rem;
  }
  @include media-mobile {
    gap: 1rem;
    justify-content: space-between;
  }
}

.icon-title {
  color: $text-color;
  @extend %text-uppercase;
}

.skill {
  @include media-mobile {
    &:last-child,
    &:nth-child(11),
    &:nth-child(10),
    &:nth-child(9),
    &:nth-child(8),
    &:nth-child(7),
    &:nth-child(6),
    &:nth-child(5) {
      display: none;
    }
  }
}
